@model IEnumerable<Gs.TestingBugManagement.Models.BugManagement>

@{
    ViewData["Title"] = "View";
}

<h2>Bugs </h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered tableInformation">
    <thead>
        <tr>
            <th>
                N° Bug
            </th>
            <th>
                Assigned To
            </th>
            <th>
                State
            </th>
            <th>
                Create
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BugNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BugState)
                </td>
                <td>
                    @item.CreateDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BugNumber }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BugNumber })
                </td>
            </tr>
        }
    </tbody>
</table>