@model IEnumerable<Gs.TestingBugManagement.Models.BugManagement>

@{
    ViewData["Title"] = "View";
}

<div class="container-fluid" style="margin-top: 15px;">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <a asp-action="Create" class="btn btn-warning">Create New</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-scroll">
                <thead>
                    <tr>
                        <th>
                            N° Bug
                        </th>
                        <th>
                            Assigned To
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            Create
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BugNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssignedTo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BugState)
                            </td>
                            <td>
                                @item.CreateDate.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.BugId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.BugId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





